<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935849841532-ufvio76cuc15bdi7n8231v3srr3nlp82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935849841532-ufvio76cuc15bdi7n8231v3srr3nlp82</string>
	<key>API_KEY</key>
	<string>AIzaSyAv6z33TIQF4dZA2CPtvu_kWohretDYqN0</string>
	<key>GCM_SENDER_ID</key>
	<string>935849841532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testing</string>
	<key>PROJECT_ID</key>
	<string>testing-18fd0</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-18fd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935849841532:ios:e132a9ee7dec2603170af9</string>
</dict>
</plist>